.servicesMainContainer{
    background-color: #ffffff;
    max-width: 1100px;
    margin: 3rem auto;
    min-height: 100vh;
    display: flex;
    gap:3rem;
    justify-content: space-between;
    align-items: center;
}
.servicesTextContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.servicesPage{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #EBA334;
    text-transform: uppercase;
}
.servicesTitle{
    font-weight: 600;
    font-size: 34px;
    width: 90%;
    color: #0e243d;
    margin: 1rem 0;
}
.servicesPara{
    color: #5A5A5A;
    font-weight: 500;
    font-style: 18px;
    line-height: 35px;
}
.servicesCardContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.serviceCard{
    text-align: start;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 287px;
    padding: 1.5rem;
}

.serviceCardTitle{
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    margin-top: 1.2rem;
}
.serviceCardPara{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

.one{
    background-color: #386AED;
}

.two{
    background-color: #EBA334;
}

.three{
    background-color: #8a48de;
}

.four{
    background-color: #DC3434;
}