@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
}

body{
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}